<header>
	<h1>Showing all services</h1>
	
	<select class="instances">
		<option selected>All</option>
		<option>nodejs-1</option>
		<option>nodejs-2</option>
		<option>nodejs-3</option>
		<option>aspnet-1</option>
		<option>aspnet-2</option>
		<option>php-1</option>
	</select>
</header>

<ul class="services">
	<li ng-repeat="service in services | orderBy:'name'">
		<a href="#/service/{{service.name}}">
			<h2>{{service.name}}</h2>
			<p>{{service.description}}</p>
			
			<small><b>Used on:</b>
				<span class="tag" ng-repeat="tag in service.tags">{{tag}}</span>
			</small>
		</a>
	</li>
</ul>