<header>
	<h1><a href="#">←</a> {{service.name}}</span></h1>
	<a href="#/service/{{service.name}}/edit">Edit</a>
</header>

<p>{{service.description}}</p>

<dl>
	<dt>Tags</dt>
	<dd>
		<span class="tag" ng-repeat="tag in service.tags">{{tag}}</span>
	</dd>

	<dt>Instances</dt>
	<dd>
		<span class="tag" ng-repeat="instance in service.instances">{{instance}}</span>
	</dd>
	
	<!--<dt>Shell Profile</dt>
	<dd>
		<div ng-repeat="variable in service.shell_profile.keys"><b>{{variable.</div><br>
	</dd>-->
	
	<dt>Repository</dt>
	<dd>
		<a href="http://{{service.repository.url}}">{{service.repository.url}}</a> ({{service.repository.type}})
		<small><b>Sub Directory:</b> {{service.repository.subdir}}</small>
	</dd>

	<dt>TCP Socket</dt>
	<dd>
		<span>{{service.tcp_socket}}</span>
	</dd>

	<dt>Unix Socket</dt>
	<dd>
		<span>{{service.unix_socket}}</span>
	</dd>

	<dt>Jenkins</dt>
	<dd>
		<span><pre>{{service.jenkins}}</pre></span>
	</dd>
</dl>