<header>
	<h1>Showing {{search.instances}} services</h1>
	
	<select class="instances" ng-model="search.instances">
		<option selected value="">All</option>
		<option value="nodejs-1">nodejs-1</option>
		<option value="nodejs-2">nodejs-2</option>
		<option value="ruby-1">ruby-1</option>
		<option value="ruby-2">ruby-2</option>
	</select>
</header>

<ul class="services">
	<li ng-repeat="service in services | filter:search | orderBy:'name'">
		<a href="#/service/{{service.name}}">
			<h2>{{service.name}} <span class="status {{service.active}}" title="Check whether the service is up. If it's green, it's up."></span></h2>
			<p>{{service.description}}</p>
			
			<small><b>Used on:</b>
				<span class="tag" ng-repeat="instance in service.instances">{{instance}}</span>
			</small>
			<small><b>Tags:</b>
				<span class="tag" ng-repeat="tag in service.tags">{{tag}}</span>
			</small>
		</a>
	</li>
</ul>